<div class="sidebar-module about">
  <h4>{{ site.locales[site.default_locale].Aboutme }}</h4>
  <img title="{{site.author}}" src="https://dbarobin.com/images/wentasy.png" alt="{{site.author}}"/>

  <span>{{site.aboutme}}</span>
  <br />

  {% if site.ShowContactInfo == "True" %}

  Contact me via:&nbsp;

  {% if site.email != empty %}
     <a href="mailto:{{site.email}}" title="mailto: {{site.email}}" target="_blank"><i class="fa fa-envelope"></i></a> &nbsp;
  {% endif %}
  {% if site.github_username != empty %}
     <a href="https://github.com/{{site.github_username}}" title="GithubID: {{site.github_username}}" target="_blank"><i class="fa fa-github"></i></a> &nbsp;
  {% endif %}
  {% if site.twitter_username != empty %}
    <a href="https://twitter.com/{{site.twitter_username}}" title="TwitterID: {{site.twitter_username}}" target="_blank"><i class="fa fa-twitter"></i></a>
  {% endif %}

  {% endif %}

</div>
