<footer class="site-footer">
  <link rel="stylesheet" type="text/css" href="https://dbarobin.com/assets/css/robin.css">
  <a href="mailto:{{site.email}}" title="mailto: {{site.email}}" target="_blank"><i class="fa fa-envelope"></i></a> &nbsp;
  <a href="https://twitter.com/{{site.twitter_username}}" title="Twitter ID: {{site.twitter_username}}" target="_blank"><i class="fa fa-twitter"></i></a> &nbsp;
  <a href="https://facebook.com/dbarobin" title="Facebook ID: dbarobin" target="_blank"><i class="fa fa-facebook"></i></a> &nbsp;
  <a href="https://steemit.com/@robinwen" title="Steemit ID: robinwen" target="_blank"><i class="fa fa-steemit"></i></a> &nbsp;
  <a href="https://github.com/{{site.github_username}}" title="Github ID: {{site.github_username}}" target="_blank"><i class="fa fa-github"></i></a> &nbsp;
  <a href="https://www.linkedin.com/in/dbarobin" title="LinkedIn ID: dbarobin" target="_blank"><i class="fa fa-linkedin"></i></a> &nbsp;
  <a href="https://www.instagram.com/vrwio" title="Instagram ID: vrwio" target="_blank"><i class="fa fa-instagram"></i></a> &nbsp;
  <a href="https://dbarobin.com/feed.xml" title="RSS"><i class="fa fa-rss"></i></a>
  <p> &copy; 2017 Robin Wen. All Rights Reserved.</p>
   <div id="totop" class="mytotop">
      <a title="Back To Top"><img alt="Scrollup to home page of dbarobin.com" src="https://dbarobin.com/images/scrollup.png"/></a>
   </div>

<script type="text/javascript" defer="defer" src="https://dbarobin.com/assets/js/vendor/jquery-1.9.1.min.js"></script>
<!-- Page view counter JS -->
<script type="text/javascript" async src="https://dn-lbstatics.qbox.me/busuanzi/2.3/busuanzi.pure.mini.js"></script>
<script type="text/javascript" defer="defer" src="https://dbarobin.com/assets/js/totop.js"></script>
</footer>
