/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}

/**
 * Basic styling
 */
body {
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
  font-weight: 300;
  color: $text-color;
  background-color: $background-color;
  -webkit-text-size-adjust: 100%;
}

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, 
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
  margin-bottom: $spacing-unit / 2;
}

/**
* Paragraph
*/
p {
  font-family: "Open Sans", "Helvetica", "Arial", "Hiragino Sans GB", "Noto Sans CJK SC", "Heiti SC", "Microsoft YaHei", "WenQuanYi Microhei", serif;
  line-height: 1.7em;
  margin-bottom: 1.7em;
  word-break: break-all;
}

/**
* Title
*/
h1, h2, h3, h4, h5, h6 {
  font-family: "Lucida Grande", "Helvetica Neue", "Arial", "Hiragino Sans GB", "Noto Sans CJK SC", "Heiti SC", "Microsoft YaHei", "WenQuanYi Microhei", sans-serif;
  margin-top: .7em;
  margin-bottom: 0.2em;
}

/**
 * Set main page style
 */
.container {
  min-height:100%;
  max-width: -webkit-calc(#{$page-width} - (#{$spacing-unit} * 2));
  max-width:         calc(#{$page-width} - (#{$spacing-unit} * 2));
  margin-right: auto;
  margin-left: auto;
  padding-right: $spacing-unit;
  padding-left: $spacing-unit;
  padding-top:30px;

  background-color:#fff;
  margin-top:20px;
  margin-bottom:30px;
  box-shadow: 1px 1px 10px #BBB;
}

/*for media*/
*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

/*two columns*/
.col-sm-8,.col-sm-2{
  position:relative;
  min-height:1px;
  margin: 0px 15px;
}


@media screen and (min-width : $on-palm) {
  .col-sm-8 {
    float:left;
    width:65%;
  }

  .col-sm-2 {
    float:right;
    width:25%;
  }
}



/**
 * Images
 */
img {
  max-width: 100%;
  vertical-align: left;
}

/**
 * Figures
 */
figure > img {
  display: block;
}

figcaption {
  font-size: $small-font-size;
}

/**
 * Lists
 */
ul, ol {
  margin-left: $spacing-unit + 17;
  margin-bottom: 1.25em;
  font-family: "Open Sans", "Helvetica", "Arial", "Hiragino Sans GB", "Noto Sans CJK SC", "Heiti SC", "Microsoft YaHei", "WenQuanYi Microhei", serif;
}

li {
  font-family: "Open Sans", "Helvetica", "Arial", "Hiragino Sans GB", "Noto Sans CJK SC", "Heiti SC", "Microsoft YaHei", "WenQuanYi Microhei", serif;
  > ul,
  > ol {
    margin-bottom: 0;
  }
}

/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}

/**
 * Links
 */
a {
  color: $brand-top-color;
  text-decoration: none;

  &:visited {
    color: darken($brand-top-color, 25%);
  }

  &:hover {
    color: #669900; //$hover-color;
    text-decoration: none;
  }

  &:focus {
      outline: thin dotted;
      color: lighten($brand-top-color, 20%);
  }   

  &:hover,
  &:active {
      outline: 0;
  }   
}

.post-content a{
  color: $brand-color;    
  text-decoration: none;  
  border-bottom: 0px dotted;
  &:visited {             
    color: darken($brand-color, 25%);
  }                       

  &:hover {               
    color: $hover-color;
    text-decoration: none;
  }  

}

/**
 * Blockquotes
 */

blockquote{
  border-left: 4px solid #dddddd;
  padding: 0 15px;
  color: #777777;
  margin: 14px 0;
  font-size: 15px;

  &:hover {
    color: #454545;
  }

  > :first-child {
    margin-top: 0;
  }

  > :last-child {
    margin-bottom: 0;
  }
}



/**
 * Code formatting
 */
pre code {
  display: inline;
  max-width: initial;
  padding: 0;
  margin: 0;
  overflow: initial;
  line-height: inherit;
  word-wrap: normal;
  background-color: transparent;
  border: 0;
}

pre {
  margin-top: 0;
  margin-bottom: 0;
  font: 15px Consolas, "Liberation Mono", Menlo, Courier, monospace;
  padding: 16px;
  overflow: auto;
  font-size: 15px;
  line-height: 1.45;
  background-color: #f7f7f7;
  border-radius: 3px;
}

pre>code {
  padding: 0;
  margin: 0;
  font-size: 15px;
  word-break: normal;
  white-space: pre;
  background: transparent;
  border: 0;
}

.highlight {
  margin-bottom: 16px;
}

.highlight pre {
  margin-bottom: 0;
  word-break: normal;
}

code {
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 15px;
}

pre code, pre tt {
  background-color: transparent;
  border: none;
}

code, tt {
  margin: 0 2px;
  padding: 0 5px;
  white-space: nowrap;
  border: 1px solid #eaeaea;
  background-color: #f8f8f8;
  border-radius: 3px; 
}

/**
 * Wrapper
 */
   .wrapper {
  max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
  max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
  margin-right: auto;
  margin-left: auto;
  padding-right: $spacing-unit;
  padding-left: $spacing-unit;
  @extend %clearfix;

  @include media-query($on-laptop) {
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
    max-width:         calc(#{$content-width} - (#{$spacing-unit}));
    padding-right: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
  }
}



/**
 * Clearfix
 */
%clearfix {

  &:after {
    content: "";
    display: table;
    clear: both;
  }
}



/**
 * Icons
 */
.icon {

  > svg {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;

    path {
      fill: $grey-color;
    }
  }
}



/**
 * Table
 */


table { 
  padding: 0;
  margin-bottom: 5px;
  border-collapse: collapse; 
  font-size: $small-font-size;
}
table tr {
  border-top: 1px solid #cccccc;
  background-color: white;
  margin: 0;
  padding: 0;
}
table tr:nth-child(2n) { background-color: #f8f8f8; }
table tr th {
  font-weight: bold;
  border: 1px solid #cccccc;
  margin: 0;
  padding: 3px 6px;
}
table tr td {
  border: 1px solid #cccccc;
  margin: 0;
  padding: 3px 6px;
}
table tr th :first-child, table tr td :first-child { margin-top: 0; }
table tr th :last-child, table tr td :last-child { margin-bottom: 0; }


/**
 * line between each post on main page
 */

hr{
  display: block;
  margin: 1em 0;
  padding: 0;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #fff;
}

cite{ 
  font-style: italic;
  text-decoration: none;
}

.searchform .field {
    padding:                5px;
    width:                  200px;
    border:                 solid 1px #dddddd;
}

.searchform .submit {
    width:                  28px;
    height:                 28px;
    background:             url(http://dbarobin.com/images/searchicon.png) 0 -5px no-repeat;
    overflow:               hidden;
    border:                 none;
    margin-left:            3px;
}

#post-0 .searchform {
    position:               relative;
    margin:                 30px 0;
    width:                  90%;
}

#post-0 .searchform .field {
    width:                  95%;
    max-width:              100%;
}

.widget .searchform {
    position:               relative;
    top:                    0;
    left:                   0;
}

.widget .submit {
    display:                none;
}

.widget .searchform .field {
    width:                  100%;
    max-width:              300px;
    background:             url(http://dbarobin.com/images/searchicon.png) right center no-repeat;
}

/**
 * Footnotes.
 */

footnotes {
  line-height: 10px;
  margin-bottom: 10px;
}
